@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GyeonggiTitleM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{margin: 0; padding: 0;}
a{text-decoration: none; color: #365d56;}
ul{list-style: none;}
body{background: #fff; font-size: 16px; 
  font-family: 'Gowun Batang'; color: #363636;
}

/*헤더*/
header{background-color: #fff; 

  height:  940px;
  /* margin-bottom: 80px; */

  width:100%;
   height:170px; /*이미지 높이가 높은편이라 a태그가 좀 아래에서 잡힘*/

  background: url(images/headerstyle.png)no-repeat center top;
  background-size: cover;

  position:absolute; 
  top:0; left:0; /*부모가 body 자식이 header*/
}

.headerbg{ width:100%;
  /* margin: 0 auto;  */
  /* width: 1920px;  */
  display: block; text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); position: absolute; z-index: 3; margin-left: -960px; left: 50%;}
.navbg{background-color: #fff;width: 100%; height: 78px; position: absolute; top: 0; z-index: 2; box-shadow: 5px, 5px, 5px, rgba(0, 0, 0, 0.3) ;}
.nav{width: 1320px; margin: 0 auto; height: 78px; position: absolute; top: 0; left: 50%; margin-left: -660px; text-align: center;z-index: 5;}
.menu1{float: left; font-size: 20px; font-weight: bold; }
.menu2{float: right; font-size: 20px; font-weight: bold; }
.menu1 li, .menu2 li{float: left; margin: 30px 0;}
.menu1 li a:hover, .menu2 li a:hover{color: #a7ceba;}
.menu1>li>a:hover .solid, .menu2>li>a:hover .solid{transform:scaleX(1);
    opacity:1;
    visibility:visible;}	
.solid{width:100%;
    margin-top:5px;
    height:2px;
    background:#365d56;
    visibility:hidden;
    opacity:0;
    transform:scaleX(0);
    transition-duration:0.5s;}
.m1{padding-right: 220px;}
.m2{padding-left: 270px;}

.logo{position: absolute; top: 11px; left: 50%; margin-left: -82.5px;}

/*메인배너*/
.main{z-index: 1; text-align: center;}

.main img{
  /* width: 1920px; */
  width:100%; display:block;
 }


/*정글*/
.con{width: 1320px; margin: 0 auto; margin-top: 200px; height: 750px;}
.jungle_img{float: left;}
.jungle_t{float: right;  width: 660px; margin-top: 120px;}
.title{background: url(images/namestyle.png) no-repeat center top; width: 660px; height: 165px; position: relative;}
.jungle_t h1{float: left;  padding-top: 95px; line-height: 60px; width: 66px; font-size: 70px; }
.jungle_t h2{float: left; text-align: center; padding-bottom: 10px; margin-left: -117px; position: absolute; top: 50px; left: 50%; font-family: 'GyeonggiTitleV'; font-size: 47px; border-bottom: 3px solid #363636; }
.jungle_t .icon{float: right; display: block; position: absolute; right: 0; bottom: 0;}
.jungle_t h3{position: absolute; top: 120px; left: 50%; margin-left: -264px; text-align: center; width: 528px;}
.jungle_t p{font-size: 16px; line-height: 30px;}

.gallery_01{background-color: #3d6560; width: 100%; height: 550px;}
.gallery_inner h4{color: #fff; text-align: center; font-size: 30px; padding: 70px 0; }
.gallery_inner{width: 1320px; margin: 0 auto;}
.gallery_inner li{float: left; margin-right: 15px; width: 315px; height: 315px;}
.gallery_inner li:last-child{margin-right: 0px;} 

/*지중해*/
.con{width: 1320px; margin: 0 auto; margin-top: 200px; height: 750px;}
.sea_img{float: right;}
.sea_t{float: left;  width: 660px; margin-top: 120px;}
.title{background: url(images/namestyle.png) no-repeat center top; width: 660px; height: 165px; position: relative;}
.sea_t h1{float: left;  padding-top: 95px; line-height: 60px; width: 66px; font-size: 70px;}
.sea_t h2{float: left; text-align: center; padding-bottom: 10px; margin-left: -117px; position: absolute; top: 50px; left: 50%; font-family: 'GyeonggiTitleV'; font-size: 40px; border-bottom: 3px solid #363636; }
.sea_t .icon{float: right; display: block; position: absolute; right: 0; bottom: 0;}
.sea_t h3{position: absolute; top: 120px; left: 50%; margin-left: -264px; text-align: center; width: 528px;}
.sea_t p{font-size: 16px; line-height: 30px;}

.gallery_02{background-color: #7b9d7b; width: 100%; height: 550px;}
.gallery_inner h4{color: #fff; text-align: center; font-size: 30px; padding: 70px 0; }
.gallery_inner{width: 1320px; margin: 0 auto;}
.gallery_inner li{float: left; margin-right: 15px;}
.gallery_inner li:last-child{margin-right: 0px;} 

/*야외정원*/
.con{width: 1320px; margin: 0 auto; margin-top: 200px; height: 750px;}
.garden_img{float: left;}
.garden_t{float: right;  width: 660px; margin-top: 120px;}
.title{background: url(images/namestyle.png) no-repeat center top; width: 660px; height: 165px; position: relative;}
.garden_t h1{float: left;  padding-top: 95px; line-height: 60px; width: 66px; font-size: 70px;}
.garden_t h2{float: left; text-align: center; padding-bottom: 10px; margin-left: -80px; position: absolute; top: 50px; left: 50%; font-family: 'GyeonggiTitleV'; font-size: 40px; border-bottom: 3px solid #363636; }
.garden_t .icon{float: right; display: block; position: absolute; right: 0; bottom: 0;}
.garden_t h3{position: absolute; top: 120px; left: 50%; margin-left: -264px; text-align: center; width: 528px;}
.garden_t p{font-size: 16px; line-height: 30px;}

.gallery_03{background-color: #b1cec0; width: 100%; height: 550px;}
.gallery_inner h4{color: #fff; text-align: center; font-size: 30px; padding: 70px 0; }
.gallery_inner{width: 1320px; margin: 0 auto;}
.gallery_inner li{float: left; margin-right: 15px;}
.gallery_inner li:last-child{margin-right: 0px;} 

/*사막*/
.con{width: 1320px; margin: 0 auto; margin-top: 200px; height: 750px;}
.desert_img{float: right;}
.desert_t{float: left;  width: 660px; margin-top: 120px;}
.title{background: url(images/namestyle.png) no-repeat center top; width: 660px; height: 165px; position: relative;}
.desert_t h1{float: left;  padding-top: 95px; line-height: 60px; width: 66px; font-size: 70px;}
.desert_t h2{float: left; text-align: center; padding-bottom: 10px; margin-left: -100px; position: absolute; top: 50px; left: 50%; font-family: 'GyeonggiTitleV'; font-size: 40px; border-bottom: 3px solid #363636; }
.desert_t .icon{float: right; display: block; position: absolute; right: 0; bottom: 0;}
.desert_t h3{position: absolute; top: 120px; left: 50%; margin-left: -264px; text-align: center; width: 528px;}
.desert_t p{font-size: 16px; line-height: 30px; letter-spacing: 2px;}

.gallery_04{background-color: #f6e1b0; width: 100%; height: 550px;}
.gallery_inner h4{color: #fff; text-align: center; font-size: 30px; padding: 70px 0; }
.gallery_inner{width: 1320px; margin: 0 auto;}
.gallery_inner li{float: left; margin-right: 15px; overflow: hidden;}
.gallery_inner li:last-child{margin-right: 0px;} 
.gallery_inner li a img{transition: all 0.5s;}
.gallery_inner li a:hover img{scale: 120%;}




/*푸터*/

 footer{width: 100%; height: 355px; background: url(images/footerbg.jpg); font-weight: 900; color: #365d56; line-height: 40px;}
.footer_inner{width: 1320px; margin: 0 auto; padding-top: 50px}
.footer_l{float: left; }
.footer_r{float: right;}
.footer_inner> a{text-align: center;}
.footer_t1{ margin-bottom: 50px;}
.footer_r a{display: block; position: relative;}
.footer_r a:hover img{ border-radius: 50%; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3) inset; border-radius: 50%;}

.footer_bottom{width: 860px; padding-left: 361px; margin-bottom: 20px; clear: both; margin-top: 130px;}
.footer_t2{float: left; padding-right: 40px;}
.sitemap{float: right;}
.footer_inner a{display: inline-block; padding-right: 40px;}
.copy{text-align: center;}

